h1{color: #F5F5DC;font-family: Noto Sans;font-size: 50px; text-decoration: underline overline;}
body{background-color: #0D98BA}
p{color: #F5F5DC; font-family: Georgia; font-size: 16px}
ol{color: #F5F5DC; font-family: Georgia; font-size: 16px}